<mat-form-field floatLabel="auto" class="select-search" [class.bg-gray-300]="disabled">
  <mat-select [placeholder]="placeholder" [formControl]="formControl" (blur)="onTouched()"
              (selectionChange)="onSelectionChange($event)"
              [disabled]="disabled"
              [class.mat-select-placeholder-bold]="placeholderBoldStyle">
    @if (showSearch) {
      <mat-option disabled class="h-4rem p-2 sticky top-0 z-1 bg-white">
        <input class="w-full h-37px border-1 outline-none border-gray-400 border-round"
               placeholder="Nhập để tìm kiếm" [formControl]="formControlSearch"
               (keydown)="handleInputControl($event)">
      </mat-option>
    }
    @for (item of datasource; track item.id) {
      <mat-option [value]="item[valueKey]">
        {{
          characterView
            ? (item[fieldView1] || '') + '' + characterView + '' + item[fieldView2]
            : item[labelKey]
        }}
      </mat-option>
    }
  </mat-select>
  @if (clear && ![null, undefined].includes(formControl?.value) && !disabled) {
    <button
      class="bg-white h-fit p-2 cursor-pointer min-w-0 min-h-0 flex align-items-center justify-content-center absolute z-5 top-0 right-0 border-none outline-none"
      (click)="onClearSelected()">
      <i class="fa fa-times-circle" aria-hidden="true"></i>
    </button>
  }
</mat-form-field>
