<!--<ng-template #myTemplate>-->
<!--  <div class="w-28rem h-auto px-5 py-3 flex flex-column align-items-center justify-content-center">-->
<!--    <div class="w-full flex flex-column justify-content-center align-items-center">-->
<!--      @if (setting?.header?.length) {-->
<!--        <h3 class="font-bold">{{ (setting?.header || '') | translate }}</h3>-->
<!--      }-->
<!--      <div class="text-center" [innerHtml]="messageHtml"></div>-->
<!--    </div>-->
<!--    <div class="flex-1 flex flex-column overflow-auto py-4">-->
<!--      <ng-content></ng-content>-->
<!--    </div>-->
<!--    <div class="d-flex justify-content-center w-100 mt-4 gap-4">-->
<!--      <button class="py-2 px-5 border-1 border-round bg-white text-blue-300 outline-none" (click)="closeConfirm.emit()">-->
<!--        {{ (setting?.btnCancel || '') | translate }}-->
<!--      </button>-->
<!--      @if (setting?.btnOK?.length) {-->
<!--        <button type="submit" class="py-2 px-5 border-1 border-round bg-blue-300 text-white outline-none" tabindex="0"-->
<!--                (click)="submit.emit()">-->
<!--          {{ setting?.btnOK }}-->
<!--        </button>-->
<!--      }-->
<!--      @if (setting?.btnDelete?.length) {-->
<!--        <button class="py-2 px-5 border-1 border-round bg-red text-white outline-none" (click)="delete.emit()">-->
<!--          {{ (setting?.btnDelete || '') | translate }}-->
<!--        </button>-->
<!--      }-->
<!--    </div>-->
<!--  </div>-->
<!--</ng-template>-->

