<mat-drawer-container class="w-full h-full">
  <mat-drawer opened #menu mode="side" class="w-14rem shadow-2">
    <div class="h-full flex flex-column align-items-stretch justify-content-start overflow-auto">
      <app-admin-sidebar [menuOpened]="menu.opened" class="flex-1"></app-admin-sidebar>
      <div class="flex align-items-center justify-content-center">
        <button (click)="menu.toggle()"
          class="bg-transparent border-none outline-none flex align-items-center justify-content-center cursor-pointer p-2">
          <mat-icon class="text-2xl font-semibold">keyboard_double_arrow_left</mat-icon>
        </button>
      </div>
    </div>
  </mat-drawer>
  <mat-drawer-content class="bg-white">
    <div class="w-full h-full flex align-items-stretch justify-content-start">
      @if (!menu.opened) {
        <div class="w-5rem flex flex-column align-items-stretch justify-content-start shadow-2">
          <app-admin-sidebar [menuOpened]="menu.opened" class="flex-1"></app-admin-sidebar>
          <div class="flex align-items-center justify-content-center">
            <button (click)="menu.toggle()"
              class="bg-transparent border-none outline-none flex align-items-center justify-content-center cursor-pointer p-2">
              <mat-icon class="text-2xl font-semibold">keyboard_double_arrow_right</mat-icon>
            </button>
          </div>
        </div>
      }
      <div class="flex-1 flex flex-column align-items-stretch justify-content-start">
        <app-admin-header></app-admin-header>
        <div class="flex-1 flex flex-column align-items-stretch justify-content-start overflow-auto">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
